# {{ ansible_managed }}

[Unit]
Description=self-hosted git service
Documentation=https://docs.gitea.io/en-us/

[Service]
User=gitea
Group=gitea
RuntimeDirectory=gitea
StateDirectory=gitea
StateDirectoryMode=0700
ExecStart=/usr/local/bin/gitea -c /etc/gitea/app.ini
WorkingDirectory=/var/lib/gitea

# Comment out the following if your Gitea does not need external internet access
# and the only clients connecting are from localhost (such as your reverse proxy).
# The following features may not work properly when using these settings:
#   - Repository mirroring
#   - External authorization providers
# IPAddressAllow=localhost
# IPAddressDeny=any

CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077


# REVIEW: only needs access to /etc/gitea. use tmpfs for /etc, bind mount over
#   systemd-run -t -p TemporaryFileSystem=/etc:ro -p BindReadOnlyPaths=/etc/gitea/ bash
ReadWritePaths=/etc/gitea/app.ini
ReadWritePaths=/var/lib/gitea

# Resource control.
CPUAccounting=true
CPUQuota={{ gitea_svc_cpu_quota }}
MemoryAccounting=true
MemoryLow={{ gitea_svc_memory_low }}
MemoryHigh={{ gitea_svc_memory_high }}
MemoryMax={{ gitea_svc_memory_max }}
TasksAccounting=true
TasksMax={{ gitea_svc_tasks_max }}

[Install]
WantedBy=network-online.target

# vim: ft=dosini.jinja2: