; this file is the configuration of your local gitea instance
; {{ ansible_managed }}


{
        "LDAP_URL": "ldap://{{ ldap_fqdn }}",
        "LDAP_PORT": {{ ldap_port }},
        "LDAP_BASE": "{{ ldap_base }}",
        "LDAP_USER": "{{ ldap_base_username }}",
        "LDAP_PASSWORD": "{{ ldap_base_pwd }}",
        "LDAP_AUTO_BIND": true,
        "LDAP_USE_SSL": {{ ldap_use_ssl }},
        "LDAP_GET_INFO": "NO_INFO"
}
